@import "../css/reset.css";


/* header */
.header-style {
    background-color: white;
    color: orange;
    opacity: 0.9;
}

.header-layout {
    width: 99%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    padding: 0.5em;
}

.header-layout > .left-container {
    display: inline-block;
    vertical-align: middle;
}

.header-layout > .middle-container {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.25em;
}

.header-layout > .right-container {
    display: inline-block;
    float: right;
}

.right-container > input {
    vertical-align: bottom;
}

.hover-background {
    background-color: black;
    opacity: 0.9;
}

.logo {
    width: 5em;
    height: 5em;
    background: url("../images/img-logo.png") no-repeat;
    background-size: 100%;
}

.site-title {
    font-family: Impact, fantasy;
    font-size: 3em;
    letter-spacing: 0.05em;
}

.site-description {
    font-family: Arial, sans-serif;
    font-size: 0.75em;
    letter-spacing: 0.25em;
    word-spacing: 0.2em;
}

@media all and (max-width: 750px) {
    .header-layout > .left-container {
        width: 0;
        visibility: hidden;
    }
    .header-layout > .right-container {
        width: 0;
        visibility: hidden;
    }
}


/* body container */
.container {
    min-width: 750px;
    max-width: 1500px;
    margin-top: 6em;
    overflow: hidden;
}

.orange-background {
    background-color: orange;
}

.noscroll {
    overflow: hidden;
}

/* menu */
.menu {
    width: 15%;
    float: right;
    padding: 1em;
    box-sizing: border-box;
}

.menu > ul {
    list-style-type: none;
}

.menu li {
    line-height: 3em;
}

.menu a {
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
}


/* gallery-container */
.gallery-container {
    width: 85%;
    float: left;
    padding: 0.5em 0.5em 0 0.5em;
    box-sizing: border-box;
}

.white-background {
    background-color: white;
}

.gallery-container li {
    margin-bottom: 4em;
}

.gallery-container li:last-child {
    margin-bottom: 0;
}

.video-poster {
    margin-right: 0.5em;
    width: 38%;
    display: inline-block;
    cursor: pointer;
}

.video-poster:hover {
    width: 38.2%;
}

.video-poster img {
    width: 100%;
    border: 1em;
    border-color: #FFCC00;
}

.player-background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width:100%;
    height: 100%;
    background-color: black;
    opacity: 0.75;
}

.player {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.video-description {
    font-family: Arial, sans-serif;
    width: 60%;
    display: inline-block;
    vertical-align: top;
}

.video-description > .title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
    display: inline-block;
}

.video-description > .p {
    display: inline-block;
}

.stars-container {
    margin: 1em 0;
    display: inline-block;
}

.rating-number {
    color: #DEDEDE;
}

.star:before {
    content: "\2605";
}

.marked-star {
    color: #FFCC00;
}

/* footer */
.footer {
    clear: both;
    margin-top: 2em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
}